<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FinanceMapper">

	<!--表名 -->
	<sql id="tableName">
		ZLP_FINANCE
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		FINANCE_ID,
		FINANCE_TYPE,
		AMOUNT,
		CREATE_DATE,
		CREATE_USER,
		UPDATE_DATE,
		UPDATE_USER,
		DELETE_STATUS,
		INCOME_REASON,
		USER_ID,
		ORDER_ID,
		INCOME_REASON_DESC
	</sql>
	<!-- 字段 -->
	<sql id="FieldWithAlias">
		o.FINANCE_ID,
		o.FINANCE_TYPE,
		o.AMOUNT,
		o.CREATE_DATE,
		o.CREATE_USER,
		o.UPDATE_DATE,
		o.UPDATE_USER,
		o.DELETE_STATUS,
		o.INCOME_REASON,
		o.USER_ID,
		o.ORDER_ID,
		o.INCOME_REASON_DESC
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{FINANCE_ID},
		#{FINANCE_TYPE},
		#{AMOUNT},
		#{CREATE_DATE},
		#{CREATE_USER},
		#{UPDATE_DATE},
		#{UPDATE_USER},
		#{DELETE_STATUS},
		#{INCOME_REASON},
		#{USER_ID},
		#{ORDER_ID},
		#{INCOME_REASON_DESC}
	</sql>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
			FINANCE_ID = #{FINANCE_ID}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
			FINANCE_ID = #{FINANCE_ID},
			FINANCE_TYPE = #{FINANCE_TYPE},
			AMOUNT = #{AMOUNT},
			CREATE_DATE = #{CREATE_DATE},
			CREATE_USER = #{CREATE_USER},
			UPDATE_DATE = #{UPDATE_DATE},
			UPDATE_USER = #{UPDATE_USER},
			DELETE_STATUS = #{DELETE_STATUS},
			INCOME_REASON = #{INCOME_REASON},
			USER_ID = #{USER_ID},
			ORDER_ID = #{ORDER_ID},
		FINANCE_ID = FINANCE_ID
		where
		FINANCE_ID = #{FINANCE_ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
			FINANCE_ID = #{FINANCE_ID}
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="FieldWithAlias"></include>,
		p.NICK_NAME,
		p.PHONE_NUMBER
		from
		<include refid="tableName"></include> o
		LEFT JOIN zlp_app_user p on o.USER_ID=p.USER_ID
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				-->
				p.NICK_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or
				o.INCOME_REASON LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or
				p.PHONE_NUMBER LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.lastStart!= null and pd.lastStart != ''">
			and  o.CREATE_DATE &gt;= #{pd.lastStart}
		</if>
		<if test="pd.lastEnd!= null and pd.lastEnd != ''">
			and	TO_DAYS(o.CREATE_DATE) &lt;= TO_DAYS(#{pd.lastEnd})
		</if>
		<if test="pd.INCOME_REASON!= null and pd.INCOME_REASON != ''">
			and  o.INCOME_REASON = #{pd.INCOME_REASON}
		</if>
		<if test="pd.USER_ROLE!= null and pd.USER_ROLE != ''">
			and  p.ROLE = #{pd.USER_ROLE}
		</if>
		<if test="pd.USER_ID!= null and pd.USER_ID!= ''">
			and  o.USER_ID = #{pd.USER_ID}
		</if>
			order by o.CREATE_DATE DESC
	</select>
	<!--app展示列表使用 列表 -->
	<select id="datalistPage1" parameterType="page" resultType="pd">
		select
		<include refid="FieldWithAlias"></include>,
		DATE_FORMAT(o.CREATE_DATE,'%Y-%m-%d') as TIME,
		p.NICK_NAME,
		p.PHONE_NUMBER
		from
		<include refid="tableName"></include> o
		LEFT JOIN zlp_app_user p on o.USER_ID=p.USER_ID
		where 1=1
		<if test="pd.lastStart!= null and pd.lastStart != ''">
			and  o.CREATE_DATE &gt;= #{pd.lastStart}
		</if>
		<if test="pd.lastEnd!= null and pd.lastEnd != ''">
			and	TO_DAYS(o.CREATE_DATE) &lt;= TO_DAYS(#{pd.lastEnd})
		</if>
		<if test="pd.USER_ID!= null and pd.USER_ID!= ''">
			and  o.USER_ID = #{pd.USER_ID}
		</if>
			order by o.CREATE_DATE DESC
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="FieldWithAlias"></include>,
		DATE_FORMAT(o.CREATE_DATE,'%Y-%m-%d') as TIME,
		p.NICK_NAME,
		p.PHONE_NUMBER
		from
		<include refid="tableName"></include> o
		LEFT JOIN zlp_app_user p on o.USER_ID=p.USER_ID
		where 1=1
		<if test="keywords!=null and keywords!=''">
			and
			   ( p.NICK_NAME LIKE CONCAT(CONCAT('%', #{keywords}),'%')
				 or
				o.INCOME_REASON LIKE CONCAT(CONCAT('%', #{keywords}),'%')
					 or
				p.PHONE_NUMBER LIKE CONCAT(CONCAT('%', #{keywords}),'%')
				)
		</if>
		<if test="INCOME_REASON!= null and INCOME_REASON != ''">
			and  o.INCOME_REASON = #{INCOME_REASON}
		</if>
		<if test="USER_ROLE!= null and USER_ROLE != ''">
			and  p.ROLE = #{USER_ROLE}
		</if>
		<if test="USER_ID!= null and USER_ID!= ''">
			and  o.USER_ID = #{pd.USER_ID}
		</if>
		<if test="lastStart!= null and lastStart != ''">
			and  o.CREATE_DATE &gt;= #{lastStart}
		</if>
		<if test="lastEnd!= null and lastEnd != ''">
			and	TO_DAYS(o.CREATE_DATE) &lt;= TO_DAYS(#{lastEnd})
		</if>
		order by o.CREATE_DATE DESC
		<if test="start_number!=null ">
			limit #{start_number},#{SET_NUMBER}
		</if>
	</select>
	<!-- 列表(全部) -->
	<select id="listTodayAll" parameterType="pd" resultType="pd">
		select
		sum(AMOUNT) as AMOUNT
		from
		<include refid="tableName"></include>
		where 1=1
		<if test="USER_ID!= null and USER_ID != ''">
			and  USER_ID = #{USER_ID}
		</if>
		<if test="FINANCE_TYPE!= null and FINANCE_TYPE != ''">
			and  FINANCE_TYPE = #{FINANCE_TYPE}
		</if>
		and to_days(CREATE_DATE) = to_days(now());
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
			FINANCE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>


</mapper>