<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemorialDayMapper">

	<!--表名 -->
	<sql id="tableName">
		ZLP_MEMORIAL_DAY
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		MEMORIALDAY_ID,
		USER_ID,
		CREATE_DATE,
		CREATE_USER,
		UPDATE_DATE,
		UPDATE_USER,
		DELETE_STATUS,
		NAME,
		COMMEMORATE_DATE
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{MEMORIALDAY_ID},
		#{USER_ID},
		#{CREATE_DATE},
		#{CREATE_USER},
		#{UPDATE_DATE},
		#{UPDATE_USER},
		#{DELETE_STATUS},
		#{NAME},
		#{COMMEMORATE_DATE}
	</sql>

	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
			MEMORIALDAY_ID = #{MEMORIALDAY_ID}
	</delete>

	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set
			<if test="USER_ID!=null and USER_ID!=''">	
			USER_ID = #{USER_ID},
			</if>
			<if test="CREATE_DATE!=null and CREATE_DATE!=''">	
			CREATE_DATE = #{CREATE_DATE},
			</if>
			<if test="CREATE_USER!=null and CREATE_USER!=''">	
			CREATE_USER = #{CREATE_USER},
			</if>
			<if test="UPDATE_DATE!=null and UPDATE_DATE!=''">	
			UPDATE_DATE = #{UPDATE_DATE},
			</if>
			<if test="UPDATE_USER!=null and UPDATE_USER!=''">	
			UPDATE_USER = #{UPDATE_USER},
			</if>
			<if test="DELETE_STATUS!=null and DELETE_STATUS!=''">	
			DELETE_STATUS = #{DELETE_STATUS},
			</if>
			<if test="NAME!=null and NAME!=''">	
			NAME = #{NAME},
			</if>
			<if test="COMMEMORATE_DATE!=null and COMMEMORATE_DATE!=''">	
			COMMEMORATE_DATE = #{COMMEMORATE_DATE},
			</if>
			MEMORIALDAY_ID = MEMORIALDAY_ID
			where
			MEMORIALDAY_ID = #{MEMORIALDAY_ID}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
			MEMORIALDAY_ID = #{MEMORIALDAY_ID}
	</select>

	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				-->
				)
		</if>
	</select>

	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		SELECT
			a.*
		FROM
			(
				SELECT
					t. NAME,
					t.COMMEMORATE_DATE,
					t.MEMORIALDAY_ID,
					t.USER_ID,
					t.CREATE_DATE,
					CASE
				WHEN t.b >= 0 THEN
					t.b
				ELSE
					t.a
				END DAYS
				FROM
					(
						SELECT NAME,commemorate_date,memorialday_id,user_id,create_date,
							DATEDIFF(
								CONCAT(
									DATE_FORMAT(NOW(), '%Y') + 1,
									DATE_FORMAT(commemorate_date, '-%m-%d')
								),
								NOW()
							) a,
							DATEDIFF(
								CONCAT(
									DATE_FORMAT(NOW(), '%Y'),
									DATE_FORMAT(commemorate_date, '-%m-%d')
								),
								NOW()
							) b
						FROM
							zlp_memorial_day
					) t
			) a
		WHERE
			user_id = #{USER_ID}
		ORDER BY a.days ASC
	</select>
	
	
	
	<!-- 定时任务 -->
	<select id="datalistPage2" parameterType="pd" resultType="pd">
			SELECT
			a.*
		FROM
			(
				SELECT
					t. NAME,
					t.COMMEMORATE_DATE,
					t.MEMORIALDAY_ID,
					t.USER_ID,
					t.CREATE_DATE,
					t.TOKEN,
					CASE
				WHEN t.b >= 0 THEN
					t.b
				ELSE
					t.a
				END DAYS
				FROM
					(
						SELECT d.NAME,d.commemorate_date,d.memorialday_id,d.user_id,d.create_date,u.token,
							DATEDIFF(
								CONCAT(
									DATE_FORMAT(NOW(), '%Y') + 1,
									DATE_FORMAT(d.commemorate_date, '-%m-%d')
								),
								NOW()
							) a,
							DATEDIFF(
								CONCAT(
									DATE_FORMAT(NOW(), '%Y'),
									DATE_FORMAT(d.commemorate_date, '-%m-%d')
								),
								NOW()
							) b
						FROM
							zlp_memorial_day d LEFT JOIN zlp_app_user u on d.user_id = u.user_id
					) t
			) a
	</select>
	
	

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where
			MEMORIALDAY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>


</mapper>